:root {
  --icon-f1-color: #4c1e96b2;
  --icon-f2-color: #9838f85a;
  --icon-bg1-color: #832eddc0;
  --icon-bg2-color: #aa57e6a1;
  --icon-bg3-color: #b26efa81;
  --icon-bg4-color: #bd8feec7;
}
* {
  transition-duration: 0.1s;
}

.leftsection {
  background: linear-gradient(
    30deg,
    var(--icon-bg3-color),
    var(--icon-bg2-color),
    var(--icon-bg3-color)
  );
  height: max-content;
  /* border: 2px solid red !important; */
}

.icon-container {
  background: linear-gradient(
    140deg,
    var(--icon-f1-color) 20%,
    var(--icon-f2-color)
  );
}

a:hover {
  background: linear-gradient(
    -40deg,
    var(--icon-f3-color),
    var(--icon-bg2-color)
  );

  box-shadow: 0 2px0 5px rgba(26, 26, 26, 0.478);
}

div {
  border-radius: 5px !important;
}

a:hover span i {
  transform: translateY(2px);
}

.bottomsection {
  /* border: 2px solid red; */
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.bottomsection .ispan {
  padding: 10% !important;
}

/* git add .
git commit -m "pushed"
git push origin main
npm run build  
npm run deploy */
